# ======================
# NODE
# ======================
node_modules/
npm-debug.log

# ======================
# ENV
# ======================
.env
.env.local

# ======================
# DATABASE
# ======================
*.db

# ======================
# LOGS
# ======================
logs/
*.log

# ======================
# OS FILES
# ======================
.DS_Store
Thumbs.db